# ~/.rtorrent.rc

### Paths
directory = ~/download/bittorrent/
session = ~/.rtorrent-session

### Port
port_range = 51917-51917
port_random = yes

### Enable DHT

# Enable DHT support for trackerless torrents or when all trackers are down.
# May be set to "disable" (completely disable DHT), "off" (do not start DHT),
# "auto" (start and stop DHT as needed), or "on" (start DHT immediately).
# The default is "off". For DHT to work, a session directory must be defined.
dht = auto

# UDP port to use for DHT. 
dht_port = 6881

peer_exchange = yes

# Preallocate files; reduces defragmentation on filesystems.
system.file_allocate.set = yes

### Performance
max_memory_usage = 2147483648
#hash_read_ahead = 64
check_hash = no

max_peers = 150
max_peers_seed = 100
max_uploads = 50
upload_rate = 0

encoding_list = UTF-8
#scgi_local = ~/.rtorrent-session/rpc.socket
scgi_port = 127.0.0.1:5000
xmlrpc_dialect=i8

# Encryption options, set to none (default) or any combination of the following:
# allow_incoming, try_outgoing, require, require_RC4, enable_retry, prefer_plaintext
#
# The example value allows incoming encrypted connections, starts unencrypted
# outgoing connections but retries with encryption if they fail, preferring
# plaintext to RC4 encryption after the encrypted handshake
encryption = allow_incoming,try_outgoing,enable_retry

# Each watch directory adds torrents with the final destination stored
# in the "custom1" string of the download. You can check this string with
# ctrl-X then "print=$d.get_custom1=" in the client.

schedule = watch_1,10,10,"load_start=~/download/torrents/*.torrent,d.set_custom1=~/download/"
schedule = watch_2,10,10,"load=~/download/torrents/film/*.torrent,d.set_custom1=~/Film/"
schedule = watch_3,10,10,"load_start=~/download/torrents/music/*.torrent,d.set_custom1=~/music/incoming/"
schedule = watch_4,10,10,"load=~/download/torrents/tv/*.torrent,d.set_custom1=~/Film/TV/"
schedule = watch_5,10,10,"load_start=~/download/torrents/warez/*.torrent,d.set_custom1=~/warez/"
schedule = watch_6,10,10,"load_start=~/download/torrents/books/*.torrent,d.set_custom1=~/books/incoming"
schedule = watch_7,10,10,"load_start=~/download/torrents/other/*.torrent,d.set_custom1=~/.x"
schedule = watch_8,10,10,"load=~/download/torrents/nomove/*.torrent"

# different series
schedule = watch_9,10,10,"load_start=\"~/download/torrents/tv/American Dad/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/American Dad\\\"\""
schedule = watch_10,10,10,"load_start=\"~/download/torrents/tv/Archer/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/Archer\\\"\""
schedule = watch_11,10,10,"load_start=\"~/download/torrents/tv/Breaking Bad/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/Breaking Bad\\\"\""
schedule = watch_12,10,10,"load_start=\"~/download/torrents/tv/Futurama/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/Futurama\\\"\""
schedule = watch_13,10,10,"load_start=\"~/download/torrents/tv/Family Guy/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/Family Guy\\\"\""
schedule = watch_14,10,10,"load_start=\"~/download/torrents/tv/South Park/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/South Park\\\"\""
schedule = watch_15,10,10,"load_start=\"~/download/torrents/tv/The Walking Dead/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/The Walking Dead\\\"\""
schedule = watch_16,10,10,"load_start=\"~/download/torrents/tv/Dexter/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/Dexter\\\"\""
schedule = watch_17,10,10,"load_start=\"~/download/torrents/tv/Doctor Who/*.torrent\",\"d.set_custom1=\\\"/mnt/media/tv/Doctor Who\\\"\""

#schedule = tied_directory,10,10,start_tied=
#schedule = untied_directory,10,10,close_untied=

system.method.set_key = event.download.finished,move_complete,"d.set_directory=$d.get_custom1= ; execute=mv,-u,$d.get_base_path=,$d.get_custom1="

# close on low diskspace
schedule = low_diskspace,5,60,close_low_diskspace=500M


# system.method.set_key = event.download.finished,<name>,<command>
#   Index 130 String: 'event.download.closed'
#   Index 131 String: 'event.download.erased'
#   Index 132 String: 'event.download.finished'
#   Index 133 String: 'event.download.hash_done'
#   Index 134 String: 'event.download.hash_queued'
#   Index 135 String: 'event.download.hash_removed'
#   Index 136 String: 'event.download.inserted'
#   Index 137 String: 'event.download.inserted_new'
#   Index 138 String: 'event.download.inserted_session'
#   Index 139 String: 'event.download.opened'
#   Index 140 String: 'event.download.paused'
#   Index 141 String: 'event.download.resumed'
